/Aula5/nbproject/private/
/Aula5/build/
/Aula6/nbproject/private/
/Aula5/dist/
/Aula6/build/
/Aula7/nbproject/private/
/Aula7/build/
/Aula11_Exercicios/nbproject/private/
/Aula11_Exercicios/build/
/Exemplo_calc/nbproject/private/
/Exemplo_calc/build/